@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  font-family: 'ArcadeClassic', sans-serif;
  font-size: 20px;
  color: white;
  background-color: black;
  background-image: url('../../public/images/background.png');
  background-repeat: no-repeat;
  background-size: 1000px;
  background-position: center bottom;
  height: 1000px;
  width: 1000px;
}

.game-over {
  margin: auto;
  margin-top: 180px;

}

.game-over-section {
  width: 350px;
  height: 250px;
  position: absolute;
  top: 300px;
  left: 50%;
  transform: translateX(-50%);

}

.play-again {
padding: 5px;
width: 200px;
font-size: 35px;

}

.header {
  text-align: center;
  font-size: 80px;
  margin-top: 120px;
  width: 100%;
  position: absolute;
}

.question {
  width: 350px;
  height: 250px;
  position: absolute;
  top: 50px;
  left: 50%;
  transform: translateX(-50%);

}
p {
  font-size: 35px;
}

.quiz-section {
  text-align: center;
  font-size: 40px;
  margin: 22% 0 0 30%;
  width: 40%;
  position: absolute;
}

.buttons {
  width: 500px;
  position: absolute;
  top: 789px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: row;
  justify-content: center;

}

.left {
  padding: 5px;
  width: 150px;
  font-size: 35px;
  box-shadow: 3px 4px 0px 0px #3e7327;
	background:linear-gradient(to bottom, #77b55a 5%, #72b352 100%);
	background-color:#77b55a;
	border-radius:15px;
	border:1px solid #4b8f29;
  }

  .left:hover {
    background:linear-gradient(to bottom, #72b352 5%, #77b55a 100%);
    background-color:#72b352;
  }
  .left:active {
    position:relative;
    top:1px;
  }


.right {
  padding: 5px;
  width: 150px;
  margin-left: 50px;
  font-size: 35px;
  box-shadow: 3px 4px 0px 0px #8a2a21;
	background:linear-gradient(to bottom, #c62d1f 5%, #f24437 100%);
	background-color:#c62d1f;
	border-radius:18px;
	border:1px solid #d02718;
  
}


.right:hover {
	background:linear-gradient(to bottom, #f24437 5%, #c62d1f 100%);
	background-color:#f24437;
}
.right:active {
	position:relative;
	top:1px;
}

       